<!DOCTYPE html>
<!--<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <head th:replace="fragments/header :: main-head"> </head>
    <body th:replace="fragments/body :: main-body"> </body>
</html> -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <meta charset="UTF-8">
    <th:block layout:fragment="title">
        <title>글작성 페이지</title>
    </th:block>
</html>